{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class = "container mt-5 text-center" id = "divFormulario">
    <h1> Sistema de Registro Digital  </h1>
    <div class = "container mt-5">
        <a href = "{{path('menuPrincipal')}}" class = "btn btn-outline-success">Ingresar</a>
    </div>
</div>
{% endblock %}
