{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
{{parent()}}
{# <div class = "container mt-5 text-center">
    <h1> Menu Principal</h1>
    <h2> Estaba testeando una cosita </h2>
    <div class = "container mt-5" id = "divHover">
        <div class = "container m-5" id= "divBotones">
            <a href = "#" class = "btn btn-outline-primary m-5">Uno</a>
            <a href = "#" class = "btn btn-outline-primary m-5">Dos</a>
        </div>
    </div>
</div> #}
{% endblock %}
